.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 190px ;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 20px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.title{
    margin-top: auto;
}
.im{margin-top: 10px;
    width: 130px;
    height: 130px;
}